#pesquisa {
    background-color: #aaaaaa;
}

#carregando {
    display: "flex";
    align-items: 'center';
    justify-content: 'space-evenly';
}

#pklistid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #803f3f; */
}

.card2222 {
    /* background-color: #ba1414; */
    /* background-color: #da6464; */
    /* background: linear-gradient(to bottom right, #f9d87b 0%, #ffc83c 50%, #f9d87b 100%);
    max-width: 200px; */
    /* height: 200px; */
    /* border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    box-shadow: -15px 15px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in-out;
    padding: 10px; */
}
.cardinterna {
    background-image: linear-gradient(to bottom, #d9d9d9, #c2c2c2, #acacac, #959595, #7f7f7f, #686868, #525252, #3b3b3b, #363434, #525252,#686868,#7f7f7f);
    padding: 10px;
    background-size: 100% 100%;
    border-radius: 5px;
  }
  
.card {
    max-width: 200px;
    background: linear-gradient(to bottom right, #f9d87b 0%, #ffc83c 50%, #f9d87b 100%);
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    box-shadow: -15px 15px 7px rgba(0, 0, 0, 0.4);
    padding: 10px;
  }
  
  .card:hover {
    transform: scale(1.25);
    box-shadow: -15px 15px 15px rgba(0, 0, 0, 0.5);
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  /* .card h3, .card p {
    padding: 10px;
  } */

/* #cardexterno :hover {
    box-shadow: -15px 15px 20px rgba(0, 0, 0, 0.4)
} */
